{% extends 'base.html'%}
{%load static%}

{% block content%}
<div class="col-9 bg-warning rounded-3"> 
  <form action="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-outline-secondary" value="Search">
      <!-- <div class="input-group mt-3 mb-3">
          
          <input type="text" class="form-control" placeholder="FootBall Match" value="">
          <span class="input-group-text"></span>
          <input type="text" class="form-control" placeholder="Number of search results" >
          <input type="submit" class="btn btn-outline-secondary" type="button"Value="Search" >
        </div> -->
  </form>
  {% for item in organic_results %}
  
  <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4 bg-info">
          <img src="{{item.thumbnail}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.snippet}}</p>
            <p class="card-text"><small class="text-body-secondary">Last updated {{item.date}}</small></p>
            <p><a href="{{item.link}}">Read More</a></p>
          </div>
        </div>
      </div>
  </div>

  {% endfor %}
</div>
{%endblock%}